---
name: Lint and Test Charts
"on":
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

env:
  python_version: "3.13"

jobs:
  prep_job:
    runs-on: ubuntu-latest
    outputs:
      has_changes: ${{ steps.changed-files.outputs.any_changed }}
      matrix: ${{ steps.result.outputs.matrix }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: changed-files
        with:
          files: |
            **/*.yaml
            **/*.yml
            **/*.tpl
            .github/
          files_ignore: |
            **/.*md
            .github/CODEOWNERS
            .github/dependabot.yml
            .github/ISSUE_TEMPLATE/*
            .github/workflows/assign_issue.yml

      - run: |
          echo "Has changes: ${{ steps.changed-files.outputs.any_changed }}"
          echo "Changed files: ${{ steps.changed-files.outputs.all_changed_files }}"

          {
            echo "matrix<<EOF"
            echo '{ "include": ['
            [[ "${{ steps.changed-files.outputs.any_changed }}" == 'false' ]] && echo '{ "name": "lint" },'
            echo '{ "name": "k8s-1.34", "kindest_image": "kindest/node:v1.34.0"  },'
            echo '{ "name": "k8s-1.33", "kindest_image": "kindest/node:v1.33.4"  },'
            echo '{ "name": "k8s-1.32", "kindest_image": "kindest/node:v1.32.8"  },'
            echo '{ "name": "k8s-1.31", "kindest_image": "kindest/node:v1.31.12" }'
            echo '] }'
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
        id: result

  test:
    runs-on: ubuntu-latest
    needs: prep_job
    if: ${{ needs.prep_job.outputs.has_changes == 'true' }}
    env:
      # See https://github.com/kubernetes-sigs/kind/releases
      # Check and update the image versions in the prep_job as well when updating this version.
      kind_version: v0.30.0
    strategy:
      matrix: ${{ fromJson(needs.prep_job.outputs.matrix) }}
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.python_version }}

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Lint charts
        run: ct lint --config .github/workflows/conf/ct-lint.yml

      - uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          config: .github/workflows/conf/kind.yml
          version: ${{ env.kind_version }}
          node_image: ${{ matrix.kindest_image }}

      - name: Create chart preconditions
        run: .github/workflows/scripts/chart-test-prep.sh

      - name: Chart installation tests
        run: .github/workflows/scripts/chart-test.sh

      - name: Debug information on failure
        run: kubectl describe nodes; echo "=== API Versions ==="; kubectl api-versions; echo "=== CRDs ==="; kubectl get crd
        if: failure()

  lint:
    runs-on: ubuntu-latest
    needs: prep_job
    if: ${{ needs.prep_job.outputs.has_changes == 'true' }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.python_version }}

      - name: Run checkov on each test case permutation
        run: .github/workflows/scripts/checkov-chart-linting.sh

  skip:
    runs-on: ubuntu-latest
    needs: prep_job
    if: ${{ needs.prep_job.outputs.has_changes == 'false' }}
    strategy:
      matrix: ${{ fromJson(needs.prep_job.outputs.matrix) }}
    name: ${{ matrix.name }}
    steps:
      - run: |
          echo "Skip ${{ matrix.name }} for this pull request because no relevant files have been changed."
          echo "This is needed to not block the pull request as these are configured as required status check."
